* {
  box-sizing: border-box;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: sans-serif;
  font-size: 1.25em;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fdfdfd;
  color: #333;
}

.container {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 10px 10% 20px;
  flex: 1;
}

.container .content {
  display: flex;
  flex-direction: column;
}

.content > p {
  margin: 0;
}

.row {
  margin-top: 50px;
  display: flex;
  flex: 1;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

input[type='file'] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

input[type='file'] + label {
  display: inline-block;
}

input[type='file'] + label:hover {
  cursor: pointer;
}

input[type='file'] + label:active {
  border-bottom: 0;
  margin-top: 11px;
}

input[type='file']:focus + label {
  /* Restore browser's default outline for label disguised as button */
  outline: 1px dotted #212121;
  outline: 5px auto -webkit-focus-ring-color;
}

.file-status-text {
  margin-top: 10px;
}

.dropzone {
  position: relative;
}

.dropzone::after {
  content: 'Drop file here';
  font-size: 1.25em;
  font-weight: 600;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transition: all 0.1s;
}

.dropzone.active::after {
  opacity: 1;
}

.dropzone.active textarea {
  outline: 5px dashed hotpink;
  border: 1px solid transparent;
  background-color: rgba(254, 107, 180, 0.1);
  color: transparent;
}

textarea {
  transition: 0.1s all;
  outline: 1px solid transparent;
  border: 1px solid #888;
  font-size: 1em;
  width: 100%;
  min-height: 10em;
  font-family: 'Courier New', Courier, monospace;
  background-color: #fff;
}

.csvinput {
  height: 100%;
}

.dropzone,
.output {
  flex: 3;
}

.textarea-actions {
  flex: 1 0 50px;
}

.status {
  flex: 0 0 0;
  padding: 0 2%;
}

.status-text {
  font-size: 2.5em;
  opacity: 1;
  transition: opacity 0.3s linear;
  flex: 3;
  display: flex;
  align-items: center;
}

.copy-status {
  margin-top: 10px;
}

.copy-status-text {
  position: absolute;
}

footer {
  padding-top: 5px;
  flex-shrink: 0;
  background-color: #444;
  color: #fdfdfd;
}

footer a {
  color: #fdfdfd;
}

.pop {
  animation: pop 0.5s;
}

@keyframes pop {
  0%,
  100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
}

.fade-out {
  opacity: 0;
}

.btn {
  background-color: hotpink;
  border: 0;
  border-bottom: 1px solid hotpink;
  color: #fff;
  margin-top: 10px;
  padding: 10px 15px;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
}

.btn:hover {
  cursor: pointer;
}

.btn:active {
  margin-top: 11px;
  border-bottom: 0;
}

.btn:disabled {
  background-color: #999;
  border-color: #999;
}

.btn:disabled:hover {
  cursor: default;
}
